.navbar {
  display: flex;
  flex-direction: row;
  box-sizing: none;
  background: linear-gradient(
      to left,
      rgb(62, 62, 160),
      rgb(51, 58, 125),
      rgb(119, 119, 203)
    ),
    linear-gradient(purple, rgb(182, 70, 182));
}

* {
  margin: 0;
  padding: 0;
}

.back {
  float: left;
}

.clicks {
  display: flex;
  margin-left: 75%;
  width: 70vw;
  justify-self: end;
}
.home {
  padding: 0 20px;
}
.prominal {
  justify-self: start;
  vertical-align: bottom;
  font-family: "Uchen", serif;
  color: rgb(166, 73, 171);
}
