.navbar {
  box-sizing: none;
  background-color: #384ba7;
}

* {
  margin: 0;
  padding: 0;
}

.back {
  float: left;
}

.clicks {
  text-align: right;
}

.prominal {
  display: inline;
  /* float: left; */
  /* vertical-align: bottom; */
}
