.classesRoot {
  display: flex;
  padding: 20px;
}

.classesCover {
  width: 500px;
}

.classesContent {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

@media (max-width: 800px) {
  .classesRoot {
    display: block;
    padding: 20px;
  }
  .classesCover {
    width: 300px;
  }

  .classesContent {
    height: 140px;
  }
}
