.classesRoot {
  display: flex;
  padding: 20px;
}

.classesCover {
  width: 500px;
}

.classesCover:hover {
  opacity: 70%;
}

.classesContent {
  display: flex;
  flex-direction: column;
}

.description {
  padding: 30px;
}

.author {
  text-align: left;
}

.name:hover {
  opacity: 65%;
}

@media (max-width: 800px) {
  .classesRoot {
    display: block;
    padding: 20px;
  }
  .classesCover {
    width: 300px;
  }

  .classesContent {
    height: 140px;
  }

  .description {
    padding: 0px;
  }
}
